.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
text-decoration: none;
font-family: 'Exo 2';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 160%;
color: black;
}
.navbar a img{
    width: 60px;;
    height: 60px;
    border-radius: 50%;
}
hr{
    border: 1px solid rgba(17, 17, 17, 0.15);
}
/* For screens smaller than 768px */
@media (max-width: 767px) {
    .navbar {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-around;
    }
    .navbar a {
      font-size: 24px;
      margin-bottom: 16px;
    }
    .navbar a img {
      width: 40px;
      height: 40px;
    }
  }
  